/* Container styling for the cards */
.container_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Card styling */
.card_1 {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 30%;
  max-width: 30%;
}

/* Icon styling */
.cardIcon_1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3em;
}

.iconBriefcase_1 {
  font-size: 3em;
  color: #c25555;
}

.iconWrench_1 {
  font-size: 3em;
  color: #9ac544;
}

/* Card title styling */
.cardTitle_1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Card content styling */
.cardContent_1 {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: justify;
}

/* Hover effect for the card */
.card_1:hover {
  background: linear-gradient(135deg, #365eee, #a9bcf2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.card_1:hover .cardTitle_1 {
  color: #fff;
  transform: translateY(-5px);
}

/* Media Queries for Responsive Text and Layout */

/* Tablets */
@media (max-width: 1024px) {
  .card_1 {
    width: 45%;
    max-width: 45%;
  }

  .cardTitle_1 {
    font-size: 1.2rem;
  }

  .cardContent_1 {
    font-size: 0.95rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .card_1 {
    width: 100%;
    max-width: 100%;
  }

  .cardTitle_1 {
    font-size: 1.4rem;
  }

  .cardContent_1 {
    font-size: 0.9rem;
  }
}

/* Extra Small Mobile */
@media (max-width: 480px) {
  .cardTitle_1 {
    font-size: 1.2rem;
  }

  .cardContent_1 {
    font-size: 0.85rem;
  }

  .cardIcon_1 {
    font-size: 2.5em;
  }
}
